/* .container{
    background-color: aqua;
}

.row-color{
    background-color: aquamarine;
}

.col-color{
    background-color: blue;
}

.form-container{
    background-color: royalblue;
} */
/* .form-control{
    border:0;
} */